/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
}
.book
{
	color:rgb(46, 204, 113);
      
}
.book-library
{
	text-align:center;
	background-color:#ffffff;
}
.book img{
	justify-content:center;
	width:150px;
	height:250px;
	background-color:rgb(46, 204, 113);
	color:rgb(46, 204, 113);
}
}
.book-details
{
	text-align:left;
	justify-content:left;
	color:#777777;
}
.book-price
{
	background-color:green;
	color:#2ecc71
}
